.geldragdropquestion_title {
    margin: 0px 0px 4px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Bio Sans", Arial, sans-serif;
}

.geldragdropquestion_header {
    font-family: "Bio Sans", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin: 0px;
}

.geldragdropquestion_text {
    font-family: "Bio Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    white-space: pre-wrap;
}
