.gelPathStrip__itemfixed,
.gelPathStrip__itemdraggable,
.gelPathStrip__itemlabel,
.gelBoxStrip__itemdraggable {
    position: absolute;
}

.gelPathStrip__itemlabel {
    color: #fff;
    font-size: 16px;
    left: unset !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gelPathStrip__itemdraggable,
.gelTrashStrip__itemdraggable {
    background-color: rgb(0, 99, 195);
}

.gelPathStrip__itemfixed {
    background-color: #5b9ab1;
}

.gelBoxStrip__itemdraggable {
    top: 0 !important;
    width: 100% !important;
    left: 0 !important;
    background-color: rgb(0, 99, 195);
}

.gelTrashStrip__itemdraggable {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
